<main>
    <section>
        {{#with newsBlock}}
        <h1 class="text-center mb-5">{{title}}</h1>

        {{> shoppost}}

        {{/with}}
    </section>

    <hr class="my-5">

    <section>
        {{#with goodsBlock}}

        <ul class="nav nav-tabs mb-5">

            {{#each tabs}}
            <li class="nav-link {{#if isActive}} active {{/if}} {{#if isDisabled}} disabled {{/if}}">
                {{name}}
            </li>
            {{/each}}

        </ul>


        {{> shopcard}}

        {{/with}}
    </section>

    <hr class="my-5">


    <section>
        {{#with subscribe}}

        <div class="alert bg-dark text-light row">

            <div class=" col-6">
                <h2>{{header}}</h2>
                <p>{{description}}</p>
            </div>


            <div class="col-6 text-end">
                {{#each buttons}}
                <a rel="{{type}}" class="btn btn-primary me-1 mt-4" href="{{link}}">{{text}}</a>
                {{/each}}
            </div>

        </div>
        {{/with}}
    </section>

    <hr class="my-5">

    <section>
        {{> shopaction}}
    </section>
</main>