<section>
    {{#each reviewList}}
    <div class="border px-2 mb-5">

        <div class="border m-2 mb-4 mt-4">

            <div class="d-flex border-bottom p-2 align-items-center justify-content-between">
                <div>
                    <p class="fw-bold fs-5 m-0">{{title.userName}}</p>
                    <p class="m-0">{{title.caption}}</p>
                </div>
                <div>
                    <p class="m-0">{{title.date}}</p>
                </div>
            </div>

            <div class="p-2">
                {{#with reviewBody}}
                <p>{{seller.title}}: {{seller.value}}</p>
                <p>{{rating.title}}: {{rating.value}}</p>
                {{#each text}}
                <p>{{this}}</p>
                {{/each}}
                <p class="fw-bold m-0">{{advantages.title}}:</p>
                <p>{{advantages.text}}</p>
                <p class="fw-bold m-0">{{disadvantages.title}}:</p>
                <p>{{disadvantages.text}}</p>
                <div class="d-flex gx-2">
                    {{#each images}}
                    <img class="me-2" src="{{this}}" alt="photos">
                    {{/each}}
                </div>
                {{/with}}
            </div>
        </div>
        {{#each coments}}
        <div class="border p-2 my-4 ms-5">
            <div class="d-flex justify-content-between">
                <p class="fs-5 fw-bold">{{userName}}</p>
                <p>{{date}}</p>
            </div>
            <p>{{text}}</p>
        </div>
        {{/each}}
    </div>
    {{/each}}
</section>