{{!--
Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
І котрий обгортає код container файлів для будь-яких ендпоїнтів
--}}
<!DOCTYPE html>
<html>

<head>
	<title>
		{{page.title}}
	</title>
	<meta charset='utf-8' />
	<link href='css/index.css' rel='stylesheet' />
</head>

<body>
	<header>
		<h1>RESUME</h1>

		<div>
			{{#with person}}
			<p>Name - <strong>{{name}}</strong></p>
			<p>Age - <i>{{age}}</i></p>
			<p>Gender - <i>{{gender}}</i></p>
			{{/with}}
		</div>
		<hr>
		<hr>
	</header>

	{{! ↓ ця кострукція показує куди шаблонізатору треба вставляти код з container файлу --}}
	{{{body}}}

	<footer>
		<hr>
		<hr>
		<div>
			<em>Copyright by {{person.name}}</em>
		</div>
		<br>
		<div>
			{{#with person.address}}
			<address>{{street}}, {{city}}, {{state}}, {{zip}}, {{country}} </address>
			{{/with}}
		</div>
	</footer>

</body>

</html>